/*-------------Colors Variables---------------*/
$color-black: #000000;
$color-primary: yellow;
$color-secondary: white;
$color-red: red;
$color-blue: blue;
$color-gray: gray;
$color-green: #00ce8c;

/*------------Text Style Variables--------------*/
$text-size-nm: 18px;
$text-size-sm: 16px;
$text-size-xm: 14px;
$text-size-la: 24px;
$text-size-xl: 32px;
$font-primary: 'Circular Std Medium', sans-serif;
$text-primary: $text-size-nm $font-primary;
