.main-content {
  box-sizing: border-box;
  max-width: 80%;
  margin: 0;
  flex-grow: 2;
}

.page-header {
  margin: 5%;

  .page-header__info {

    .page-header__title {
        color: $color-black;

      &.sub-title {
        color: $color-gray;
      }
    }

    .page-header__message {
      @extend .paragraph;
      margin: 40px 0;
    }
  }
}
