.main-content {
  box-sizing: border-box;
  max-width: 80%;
  margin: 40px 5% 0 calc(20% + 40px);
}

.page-header {

  .page-header__info {

    .page-header__title {
        color: $color-black;

      &.sub-title {
        color: $color-gray;
      }
    }

    .page-header__message {
      @extend .paragraph;
      margin: 40px 0;
    }
  }
}
